<%- include('includes/tch_head.ejs') %>

</head>
<body>
    <%- include('includes/tch_nav.ejs') %>

    <%if(questions && questions.length > 0){%>
    <h3>Questions</h3>
    <table >

        <tr style="background:#00695c; color:white"> 
            <td width="4%">Sn</td>
            <td width="25%">Course</td>
            <td width="50%">Questions</td>
            <td width="10%"></td>
            <td width="10%"></td>
        </tr>

        <%var sn=1;for(let q of questions){%>
            <form action="#" method="POST">
                <tr>
                    <input id="id" name="id" type="hidden" value="<%= q.id %>">
                    <input id="course_id" name="course_id" type="hidden" value="<%= q.course_id %>">
                    <input id="text" name="text" type="hidden" value="<%= q.text %>">
                    <input id="c_name" name="c_name" type="hidden" value="<%= q.c_name %>">
                    
                    <td><%= sn%></td>
                    <td><%= q.c_name%></td>
                    <td><%= q.text%></td>
                    <td><button class="widthHeight" type="submit" formaction="/tch/edit-question"> Edit </button></td>
                    <td><button class="widthHeight" type="submit" formaction="/tch/delete-question">Delete</button></td>
                </tr>
            </form>
        <%sn++;}%>
        
    </table>
    <%}else{%>
        <h3>You have no questions yet!</h3>
    <%}%>

    <h3>Add question</h3>
    <form action="/tch/add-question" method="POST">
        <table  class="inputT">
            <tr>
                <td class="label">Course</td>
                <td class="input">
                    <select name="course_id" id="course_id">
                        <%for(let c of courses){%>
                            <option value="<%=c.id%>"><%=c.name%></option>
                        <%}%>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">Text</td>
                <td class="input"><input type="text" name="text" id="text"></td>
            </tr>
            <tr>
                <td class="label">Right answers</td>
                <td class="input">Wrong answers</td>
            </tr>
            <tr>
                <td class="label"><input type="text" name="right" id="" required></td>
                <td class="input"><input type="text" name="wrong" id="" required></td>
            </tr>
            <tr>
                <td class="label"><input type="text" name="right" id=""></td>
                <td class="input"><input type="text" name="wrong" id=""></td>
            </tr>
            <tr>
                <td class="label"><input type="text" name="right" id=""></td>
                <td class="input"><input type="text" name="wrong" id=""></td>
            </tr>
            <tr>
                <td colspan="2" class="btn"><button type="submit">Add question</button></td>
            </tr>
        </table>
    </form>

<%- include('includes/tch_end.ejs') %>