<%- include('includes/tch_head.ejs') %>

</head>
<body>
    <%- include('includes/tch_nav.ejs') %>

    <%if(quizzes.length > 0){%>
    <h3>Quizzes</h3>
    <table>
        <tr style="background:#00695c; color:white">
            <td>Sn</td>
            <td>Course</td>
            <td>State</td>
            <td></td>
            <td></td>
        </tr>
        <%sn = 1;%>
        <% for(let q of quizzes){%>
            <form action="#" method="POST">
                <tr>
                    <input id="id" name="id" type="hidden" value="<%= q.id %>">
                    <input id="course_id" name="course_id" type="hidden" value="<%= q.course_id %>">
                    <input id="course_name" name="course_name" type="hidden" value="<%= q.c_name %>">
                    <input id="publish" name="publish" type="hidden" value="<%= q.publish %>">
                    <td><%=sn%></td>
                    <td><%=q.c_name%></td>
                    <td><% if (q.publish =='N'){%>
                            Private
                        <%}else{%>
                            Publish 
                        <%}%>   
                    </td>
                    <td><button class="widthHeight" type="submit" formaction="/tch/edit-quiz">Edit</button></td>
                    <td><button class="widthHeight" type="submit" formaction="/tch/delete-quiz">Delete</button></td>
                </tr>
            </form>
            
        <%sn = sn+1;}%>
    </table>
    <%}else{%>
        <h3>You have no quizzes yet!</h3>
    <%}%>

    <h3>Add Quiz</h3>
    <form action="/tch/add-quiz" method="POST">
        <table  class="inputT">
            <tr>
                <td class="label">Course</td>
                <td class="input">
                    <select name="course_id" id="course_id">
                        <%if(courses){%>
						<%for(let c of courses){%>
                            <option value="<%=c.id%>" ><%=c.name%></option>
                        <%}%>
						<%}%>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="btn"><button type="submit">Add quiz</button></td>
            </tr>
        </table>
    </form>

<%- include('includes/tch_end.ejs') %>